:root {
  --green: #F1FAEE;
}

body{
  background-color: var(--green);
  flex: 1;
}


.fase{
  
  padding-top: 45px;
  width: 267px;
  height: auto;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}

.testoIniziale{

  padding-top: 125px;
    width: 295px;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    

}

.title {

  width: 270px;
  height: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 20px;
  
  color: #1D3557;
  
}

.descr {


  width: 270px;
  height: 260px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  padding-left: 20px;

  color: #1D3557;
}

.footer {

  width: 280px;
  height: 127px;

  text-align: center;
  padding-bottom: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.iniziaButton {

  width: 121px;
  height: 52px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;

    
  background: #A8DADC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  border: none;

      
}

.inizia {

    width: 66px;
    height: 28px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #1D3557;
    margin-top: 0;
    margin-bottom: 0;

}

.tranqui {

    width: 150px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 30px;
    
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    
    color: #1D3557;
    
} 

.testolegale{

    padding-top: 100px;
    width: 295px;
    height: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    

}

  .sub1 {

    width: 290px;
    height: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #1D3557;
  }

  .sub2 {

    width: 290px;
    height: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #1D3557;

  }

  .sub3 {

    width: 290px;
    height: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding-top: 25px;

    color: #1D3557;

  }

  .footer1 {

    width: 280px;
    height: 127px;
  
    text-align: center;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    margin-top: 50px;
  
  }

  .caffeButton {

  width: 231px;
  height: 52px;
  left: 0;
  right: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 25px;

  background: #A8DADC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  border: none;
}

.backHome {

  width: 130px;
  height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;

  color: #1D3557;
}

.caffe {

    width: 181px;
    height: 28px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;

    color: #1D3557;

}

.qrframe {


    width: 280px;
    height: 207px;
  
    text-align: center;
    padding-top: 60px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.frame {

  width: 207px;
  height: 207px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 14px;

}

.panel4{
  
  margin-top: 70px;
  width: 100%;
  height: 455px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  top: 420px;

  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
  
}

.panel2{

  margin-top: 70px;
  width: 100%;
  height: 385px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;

}

.panel25{

  margin-top: 70px;
  width: 100%;
  height: 810px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
}

.panel3 {
  
  margin-top: 70px;
  width: 100%;
  height: 610px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
  
}

.panel5 {
  
  margin-top: 70px;
  width: 100%;
  height: 840px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;


  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
  
}

.panel6 {

  margin-top: 70px;
  width: 100%;
  height: 465px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;

  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
}

.panel7{

  margin-top: 70px;
  width: 100%;
  height: 600px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;

  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
}

.qr {
  
  width: 144px;
  height: 144px;
  left: 0;
  right: 0;
  padding-top: 32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
}

.guide {

  width: 100%;
  height: 30px;
  padding-top: 40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #1D3557;

}

.loadsx {

  width: 130px;
  height: 130px;
  text-align: center;

  border: 1.5px solid #457B9D;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;

}

.loaddx {

  width: 130px;
  height: 130px;
  margin-left: 35px;
  text-align: center;

  border: 1.5px solid #457B9D;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;

}

.loadOptions {

  padding-top: 45px;
  width: 295px;
  height: 130px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.icon {

  width: 73px;
  height: 73px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

}

.loadLabel {
 
  width: 130px;
  height: 26px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #1D3557;

}

.pagineOptions {

  width: 135px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;

}

.pagine3Options {

  width: 135px;
  height: 130px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.pagine25Options{

  width: 135px;
  height: 130px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.pagine4Options{

  width: 135px;
  height: 130px;
  margin-top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.buttonAvanti {

  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-left: auto;
  text-align: center;
  background: #A8DADC;
  border: 1px solid #457B9D;
  box-sizing: border-box;
  border-radius: 26px;
  float: right;

}

.buttonIndietro {

  width: 50px;
  height: 50px;
  margin-top: 50px;
  text-align: center;
  margin-right: auto;
  background: #A8DADC;
  border: 1px solid #457B9D;
  box-sizing: border-box;
  border-radius: 26px;
  float: left;
}

.avanti {

  width: 46px;
  height: 46px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.indietro {

  width: 46px;
  height: 46px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.colorframe{

  padding-top: 30px;
  width: 285px;
  height: 170px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.colore {

  width: auto;
  height: 36px;
  padding-bottom: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #1D3557;

}

.colortable{

  width: 100%;
  height: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.scelta1{

  width: 45px;
  height: 45px;
  margin-right: 34px;
  border-radius: 50%;

  float: left;

  background: #FFFFFF;
  border: none;

}

.scelta1:focus {
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.scelta2{

  width: 45px;
  height: 45px;
  margin-right: 34px;
  border-radius: 50%;

  float: left;

  background: #FFFFFF;

  border: none;
}

.scelta2:focus{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.scelta3{
  
  width: 45px;
  height: 45px;
  margin-right: 34px;
  border-radius: 50%;

  float: left;

  background: #FFFFFF;
  border: none;
}

.scelta3:focus{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.scelta4{
  
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;

  background: #FFFFFF;
  border: none;
}

.scelta4:focus{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.scelta5{

  width: 45px;
  height: 45px;
  margin-right: 34px;
  margin-top: 27px;
  border-radius: 50%;

  float: left;

  background: #FFFFFF;
  border: none;
}

.scelta5:focus{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.scelta6{

  width: 45px;
  height: 45px;
  margin-right: 34px;
  margin-top: 27px;
  border-radius: 50%;

  float: left;

  background: #FFFFFF;
  border: none;
}

.scelta6:focus{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.scelta7{
  
  width: 45px;
  height: 45px;
  margin-right: 34px;
  margin-top: 27px;
  border-radius: 50%;

  float: left;

  background: #FFFFFF;
  border: none;
}

.scelta7:focus{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.scelta8{
  
  width: 45px;
  height: 45px;
  margin-top: 27px;
  border-radius: 50%;

  float: left;

  background: #FFFFFF;
  border: none;
}

.scelta8:focus{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradientframe{

  padding-top: 30px;
  width: 285px;
  height: 170px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: none;

}


.gradienttable{

  
  width: 100%;
  height: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}
/*
.gradiente1{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 0;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #000000;
  border: none;

}

.gradiente1:focus {
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradiente2{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 80px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #ff0000;
  border: none;
}

.gradiente2:hover{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradiente3{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 160px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #0066ff;
  border: none;
}

.gradiente3:hover{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradiente4{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 240px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #ff00f2;
  border: none;
}

.gradiente4:hover{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradiente5{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 0;
  top: 70px;
  border-radius: 50%;

  float: left;

  background: #00ff62;
  border: none;
}

.gradiente5:hover{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradiente6{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 80px;
  top: 70px;
  border-radius: 50%;

  float: left;

  background: #00ccff;
  border: none;
}

.gradiente6:hover{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradiente7{
  position: relative;
  width: 45px;
  height: 45px;
  left: 160px;
  top: 70px;
  border-radius: 50%;

  float: left;

  background: #127456;
  border: none;
}

.gradiente7:hover{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}

.gradiente8{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 240px;
  top: 70px;
  border-radius: 50%;

  float: left;

  background: #333333;
  border: none;
}

.gradiente8:hover{
  outline: 3px solid #457B9D;
  outline-offset: 4px;
  border: none;
}*/


.circle-picker {
  width: 100%;

}

.circle-picker > span {
  height: 70px;
}

.circle-picker > span:nth-child(4) {
  width: 45px;
  height: 60px;
}
.circle-picker > span:nth-child(8) {
  width: 45px;
  height: 60px;
}

.dotframe {

  padding-top: 30px;
  width: 285px;
  height: 170px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.loadlogo {

  width: 130px;
  height: 130px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 1.5px solid #457B9D;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
}

.logo {

  width: 73px;
  height: 73px;
  left: 159px;
  padding-top: 12px;
  left: 0;
  right: 0;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.rimuovilogo{

  width: 130px;
  height: 26px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;

color: #1D3557;
}

.scrittaframe{


  padding-top: 30px;
  width: 285px;
  height: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.text {

  width: 90%;
  height: 40px;

  border: 2px solid #457B9D;
  box-sizing: border-box;
  border-radius: 7px;
  }

.fontframe{

  width: 285px;
  height: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.tendina{
  
  width: 190px;
  height: 40px;

  border: 2px solid #457B9D;
  box-sizing: border-box;
  border-radius: 7px;
}

.coloreScrittaFrame{

  width: 285px;
  height: 160px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.pagine5Options{

  width: 135px;
  height: 130px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.consiglioFrame {
  
  width: 295px;
  height: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.consiglio{

  width: 150px;
  height: 36px;
  padding-top: 40px;
  padding-left: 5px;

  
  font-family: "Nanum Pen Script";
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  text-align: center;

  color: #1D3557;

  transform: rotate(-14.31deg)
}

.loadconclusione{

  padding-top: 20px;
  width: 265px;
  height: 255px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.conlusione{
  
  width: 268px;
  height: 299px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #1D3557;
}

.subConc{

    width: 268px;
    height: auto;
    margin: 7px 0 7px 0;
    padding: 7px 0 8px 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    text-align: left;

    color: #1D3557;
}

.testoConc{

  width: 268px;
  height: auto;

  font-family: Roboto;
  font-style: normal;
  font-size: 17px;
  line-height: 16px;
  text-align: left;

  color: #1D3557;
}

.caffeButtonConc {

  width: 231px;
  height: 52px;
  left: 0;
  right: 0;
  margin: 50px auto 25px auto;

  background: #A8DADC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
  border: none;
}

.backHomeConc {

  width: 130px;
  height: 26px;
  left: 0;
  right: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;

  color: #1D3557;
}



  