:root {
  --green: #F1FAEE;
}

body{
  background-color: var(--green);
}

.fase{
  
  position: absolute;
  top: 45px;
  width: 267px;
  height: auto;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  padding: 0 0 0 0;
  text-align: center;
}

.tendina{
  
  position: absolute;
  width: 190px;
  height: 40px;
  left: 30px;
  top: 335px;

  border: 2px solid #457B9D;
  box-sizing: border-box;
  border-radius: 7px;
}

.title {

  position: absolute;
  width: 280px;
  height: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: left;
  top: 120px;
  left: 50 px;
  padding: 0 65px;
  margin: 0;
  
  color: #1D3557;
  
}

.descr {
  position: absolute;
  width: 280px;
  height: 247px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  top: 380px;
  padding: 0 65px;
  margin: 0;

  color: #1D3557;
}

.footer {

  position: absolute;
  width: 280px;
  height: 127px;

  text-align: center;
  padding-bottom: 80px;
  padding: 0 65px;
  padding-bottom: 95px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 635px;

}

.iniziaButton {

  position: absolute;
  width: 121px;
  height: 52px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;

    
  background: #A8DADC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;

      
}

  .inizia {

    position: absolute;
    width: 66px;
    height: 28px;
    top: 12px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #1D3557;

  }

  .tranqui {
    position: relative;
    width: 150px;
    top: 37px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    top: 90px;
    
    color: #1D3557;
    
  } 

  .sub1 {
    position: static;
    width: auto;
    height: auto;
    margin: 75px 48px 0 48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #1D3557;
  }

  .sub2 {
    position: static;
    width: auto;
    height: auto;
    margin: 17px 48px 0 48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #1D3557;

  }

  .sub3 {
    position: static;
    width: auto;
    height: auto;
    margin: 17px 48px 0 48px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #1D3557;

  }

  .caffe {
    position: absolute;
    width: 181px;
    height: 28px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    padding-bottom: 120px;
    padding-top: 10px;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    text-align: center;

    color: #1D3557;

  }

  .caffeButton {
    position: static;
    width: 231px;
    height: 52px;
    top: 1000px;
    left: 0;
    right: 0;
    margin: 50px auto 0 auto;

    background: #A8DADC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
  }

  .backHome {

    position: absolute;
    width: 130px;
    height: 26px;
    left: 0;
    right: 0;
    margin: 30px auto 0 auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;

    color: #1D3557;
  }

  .qrframe {

    position: relative;
    width: 280px;
    height: 207px;
  
    text-align: center;
    padding: 0 0 0 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    top: 125px;
  
  }

.frame {

  position: relative;
  width: 207px;
  height: 207px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 14px;

}

.panel {
  
  position: absolute;
  width: 100%;
  height: 450px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  top: 420px;

  background: #F1FAEE;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
  
}


.qr {
  
  position: absolute;
  width: 144px;
  height: 144px;
  left: 0;
  right: 0;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
}


.guide {

  position: absolute;
  width: 100%;
  height: auto;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 327px;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #1D3557;

}

.loadsx {

  position: absolute;
  width: 130px;
  height: 130px;
  left: 0;

  border: 1.5px solid #457B9D;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;

}

.loaddx {

  position: absolute;
  width: 130px;
  height: 130px;
  right: 0;

  border: 1.5px solid #457B9D;
  box-sizing: border-box;
  border-radius: 20px;
  float: left;

}

.loadOptions {

  position: absolute;
  top: 110px;
  width: 295px;
  height: 130px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

}

.icon {
  position: absolute;
  width: 73px;
  height: 73px;
  left: 0;
  right: 0;
  bottom: 43px;
  margin-left: auto;
  margin-right: auto;

}

.loadLabel {
  position: absolute;
  width: 130px;
  height: 26px;
  left: 0;
  right: 0;
  bottom: 7px;
  margin-left: auto;
  margin-right: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: #1D3557;

}

.pagineOptions {

  position: absolute;
  width: 135px;
  height: 130px;
  left: 0;
  right: 0;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;

}

.pagine2Options {

  position: relative;
  width: 395px;
  height: 130px;
  left: 0;
  right: 0;
  top: 240px;
  margin-left: auto;
  margin-right: auto;
  

}

.buttonAvanti {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 30px;
  margin-left: auto;
  background: #A8DADC;
  border: 1px solid #457B9D;
  box-sizing: border-box;
  border-radius: 26px;
  float: right;

}

.buttonIndietro {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  bottom: 30px;
  margin-right: auto;
  background: #A8DADC;
  border: 1px solid #457B9D;
  box-sizing: border-box;
  border-radius: 26px;
  float: left;
}

.avanti {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.indietro {
  position: absolute;
  width: 46px;
  height: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.colore {
  position: relative;
  width: 294px;
  height: 36px;
  padding: 0 30px 0 30px;
  top: -10px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #1D3557;

}

.colore1{
  position: relative;
  width: 45px;
  height: 45px;
  left: 30px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #000000;
}

.colore2{
  position: relative;
  width: 45px;
  height: 45px;
  left: 60px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #ff0000;
}

.colore3{
  position: relative;
  width: 45px;
  height: 45px;
  left: 90px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #0066ff;
}

.colore4{
  position: relative;
  width: 45px;
  height: 45px;
  left: 120px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #ff00f2;
}

.colore5{
  position: relative;
  width: 45px;
  height: 45px;
  left: 150px;
  top: 0;
  border-radius: 50%;

  float: left;

  background: #ffd000;
}

.colore6{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 30px;
  top: 100px;
  border-radius: 50%;

  float: left;

  background: #00ff62;
}

.colore7{
  position: relative;
  width: 45px;
  height: 45px;
  left: -120px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #00ccff;
}

.colore8{
  position: relative;
  width: 45px;
  height: 45px;
  left: -90px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #127456;
}

.colore9{
  position: relative;
  width: 45px;
  height: 45px;
  left: -60px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #333333;
}

.colore10{
  position: relative;
  width: 45px;
  height: 45px;
  left: 330px;
  top: 21px;
  border-radius: 50%;

  float: left;

  background: #6200ff;
}

.gradiente {
  position: absolute;
  width: 294px;
  height: 36px;
  padding: 0 30px 0 30px;
  top: 175px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #1D3557;

}

.gradienteframe{
  position: relative;
  width: 280px;
  height: 80px;

  text-align: center;
  padding: 0 50px 0 60px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 185px;
}

.gradiente1{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 30px;
  border-radius: 50%;

  float: left;

  background: #000000;
}

.gradiente2{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 105px;
  border-radius: 50%;

  float: left;

  background: #ff0404;
}

.gradiente3{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 180px;
  border-radius: 50%;

  float: left;

  background: #2982bd;
}

.gradiente4{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 255px;
  border-radius: 50%;

  float: left;

  background: #ff00ff;
}

.gradiente5{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 330px;
  border-radius: 50%;

  float: left;

  background: #ffa600;
}

.gradiente6{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 30px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #15ff00;
}

.gradiente7{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 105px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #00a2ff;
}

.gradiente8{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 180px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #033302;
}

.gradiente9{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 255px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #383838;
}

.gradiente10{
  position: absolute;
  width: 45px;
  height: 45px;
  left: 330px;
  top: 65px;
  border-radius: 50%;

  float: left;

  background: #3700ff;
}

.loadlogo {

  position: relative;
  width: 130px;
  height: 130px;
  left: 131px;
  top: 10px;
  border: 1.5px solid #457B9D;
  box-sizing: border-box;
  border-radius: 20px;
}

.logo {
  position: absolute;
  width: 73px;
  height: 73px;
  left: 159px;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.rimuovilogo{
  position: relative;
  width: 130px;
  height: 26px;
  left: 131px;
  top: 35px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;

color: #1D3557;
}

.text {
  position: absolute;
  width: 90%;
  height: 57px;
  left: 30px;
  top: 215px;

  border: 2px solid #457B9D;
  box-sizing: border-box;
  border-radius: 7px;
  }

.fontlabel {
  
  position: absolute;
  width: 294px;
  height: 36px;
  padding: 0 30px 0 30px;
  top: 295px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #1D3557;

}

.colorescritta{
  position: absolute;
  width: 294px;
  height: 36px;
  padding: 0 30px 0 30px;
  top: 390px;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  color: #1D3557;
}

.colorescritta1{
  position: relative;
  width: 45px;
  height: 45px;
  left: -15px;
  top: 350px;
  border-radius: 50%;

  float: left;

  background: #000000;
}

.colorescritta2{
  position: relative;
  width: 45px;
  height: 45px;
  left: 15px;
  top: 350px;
  border-radius: 50%;

  float: left;

  background: #ff0303;
}

.colorescritta3{
  position: relative;
  width: 45px;
  height: 45px;
  left: 45px;
  top: 350px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.colorescritta4{
  position: relative;
  width: 45px;
  height: 45px;
  left: 75px;
  top: 350px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.colorescritta5{
  position: relative;
  width: 45px;
  height: 45px;
  left: 106px;
  top: 350px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.colorescritta6{
  position: relative;
  width: 45px;
  height: 45px;
  left: -240px;
  top: 415px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.colorescritta7{
  position: relative;
  width: 45px;
  height: 45px;
  left: -210px;
  top: 415px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.colorescritta8{
  position: relative;
  width: 45px;
  height: 45px;
  left: 180px;
  top: 370px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.colorescritta9{
  position: relative;
  width: 45px;
  height: 45px;
  left: 210px;
  top: 370px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.colorescritta10{
  position: relative;
  width: 45px;
  height: 45px;
  left: 240px;
  top: 370px;
  border-radius: 50%;

  float: left;

  background: #135ac5;
}

.pagine5Options{

  position: relative;
  width: 395px;
  height: 130px;
  left: 0;
  right: 0;
  top: 450px;
  margin-left: auto;
  margin-right: auto;

}

.consiglio{
  position: relative;
  width: 150px;
  height: 36px;
  left:-65px;
  right: 0;
  top: 60px;
  margin-left: auto;
  margin-right: auto;

  font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #1D3557;

  transform: rotate(-14.31deg)
}

.conlusione{
  position: absolute;
  width: 268px;
  height: 299px;
  left: 65px;
  top: 506px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #1D3557;
}

.textFrame{
  position: relative;
  width: 280px;
  height: 80px;

  text-align: center;
  padding: 0 55px 0 65px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  top: 10px;

}

.subConc{
  position: static;
    width: 268px;
    height: auto;
    margin: 10pxpx 48px 10px 48px;
    padding: 7px 0 8px 0;
    top: 106px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: left;

    color: #1D3557;
}

.testoConc{
  position: static;
  width: 268px;
  height: auto;

  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: left;

  color: #1D3557;
}

.caffeButtonConc {
  position: relative;
  width: 231px;
  height: 52px;
  top: 135px;
  left: 0;
  right: 0;
  margin: 50px auto 0 auto;

  background: #A8DADC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
}

.backHomeConc {

  position: absolute;
  width: 130px;
  height: 26px;
  left: 0;
  right: 0;
  top: 405px;
  margin: 30px auto 0 auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;

  color: #1D3557;
}



  